.CounterItem {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.CounterItem-value {
  font-size: 60px;
  padding: 8px 0px;
}

.CounterItem-desc {
}
